<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="UpdatedDatabase"
		connectionString= "Server=tcp:updatedbackend.database.windows.net,1433;Initial Catalog=UpdatedDatabase;Persist Security Info=False;User ID=colincreasman;Password=saferide.714;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>

	<appSettings>
		<add key="FileSuffix" value="_archive.txt"/>
		<add key="ZipPath" value="archives.zip"/>
	</appSettings>
	
</configuration>