<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="SafeRideDB"
		connectionString= "server=(local)\SQLExpress;database=SafeRide_DB;integrated Security=SSPI;"
		providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="FileSuffix" value="_archive.txt"/>
		<add key="ZipPath" value="archives.zip"/>
		<add key="OcpApimSubscriptionKey" value="5183ebb7ae26439587e47e7e8cb8edd6"/>
	</appSettings>
	
</configuration>